.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  background: rgba( 255, 255, 255, );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
  margin-bottom: 2em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}

@media only screen and (max-width: 600px) {
  .project h1 {
    font-size: 1.5rem;
  }

  .project__description {
    font-size: 1rem;
  }

  .project__stack-item {
    font-size: 1rem;
  }
}